@model ChangePasswordForm

@{
    ViewData["Title"] = "Зміна пароля";
}

<div class="flex justify-center mt-8">
    <div class="bg-white shadow-xl rounded-3xl p-8 w-full max-w-2xl">

        <form method="post" enctype="multipart/form-data" asp-area="Auth" asp-controller="Profile" asp-action="ChangePassword">

            <div class="mb-6">
                <label for="OldPassword" class="block text-sm font-medium text-gray-700">Старий пароль</label>
                <input asp-for="OldPassword" type="password" class="mt-2 block w-full px-4 py-2 border border-gray-300 shadow-sm rounded-lg focus:ring-blue-500 focus:border-blue-500">
                @Html.ValidationMessageFor(x => x.OldPassword, null, new { @class = "text-red-500 text-sm" })
            </div>

            <div class="mb-6">
                <label for="NewPassword" class="block text-sm font-medium text-gray-700">Новий пароль</label>
                <input asp-for="NewPassword" type="password" class="mt-2 block w-full px-4 py-2 border border-gray-300 shadow-sm rounded-lg focus:ring-blue-500 focus:border-blue-500">
                @Html.ValidationMessageFor(x => x.NewPassword, null, new { @class = "text-red-500 text-sm" })
            </div>

            <div class="mb-6">
                <label for="ConfirmPassword" class="block text-sm font-medium text-gray-700">Підтвердження пароля</label>
                <input asp-for="ConfirmPassword" type="password" class="mt-2 block w-full px-4 py-2 border border-gray-300 shadow-sm rounded-lg focus:ring-blue-500 focus:border-blue-500">
                @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "text-red-500 text-sm" })
            </div>

            <div class="flex gap-4 mt-6">
                <button type="submit" class="w-full py-2 px-4 bg-blue-500 text-white rounded-lg shadow hover:bg-blue-600 transition duration-200">
                    Змінити пароль
                </button>
                <a asp-area="Auth" asp-controller="Profile" asp-action="Index"
                   class="w-full py-2 px-4 bg-gray-400 text-white rounded-lg shadow hover:bg-gray-500 transition duration-200 text-center">
                    Повернутись
                </a>
            </div>

        </form>
    </div>
</div>